* {
  --bg-color: whitesmoke;
  --font-color: black;
  --input-color: white;
  --big-border-radius: 10px;
  --small-border-radius: 5px;
  --small-padding: 10px;
  --todo-card-bg: white;
  --shadow: hsl(0deg 0 50%);
  --low-prio-bg: hsl(120, 87%, 90%);
  --med-prio-bg: hsl(60, 88%, 90%);
  --hig-prio-bg: hsl(0, 87%, 90%);
  box-sizing: content-box;
  font-family: Arial, Ubuntu, sans-serif;
  color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  * {
    --bg-color: #3f4f4f;
    --font-color: whitesmoke;
    --input-color: dimgray;
    --todo-card-bg: black;
    --low-prio-bg: hsl(120, 25%, 50%);
    --med-prio-bg: hsl(60, 25%, 50%);
    --hig-prio-bg: hsl(0, 25%, 50%);
  }
}

.blank-todo {
  width: clamp(100px, 90%, 800px);
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

html {
  padding: 0;
}

#header {
  border-bottom: 1px solid var(--font-color);
  background: var(--todo-card-bg);
}

h1 {
  margin-top: 0;
  text-align: center;
  padding-top: 16px;
}

.todo {
  border: 1px solid var(--font-color);
  border-radius: var(--big-border-radius);
  padding: var(--small-padding);
  background-color: var(--todo-card-bg);
}

.red-bg {
  background-color: hsl(0 100 60);
}

.blue-bg {
  background-color: DodgerBlue;
}

.todo:focus-within, .todo:hover {
  box-shadow: 0 0 5px 5px var(--shadow);
}

.checked {
  text-decoration: line-through;
}

.low {
  background-color: var(--low-prio-bg);
}

.medium {
  background-color: var(--med-prio-bg);
}

.high {
  background-color: var(--hig-prio-bg);
}

textarea {
  background-color: transparent;
  border-radius: var(--small-border-radius);
  padding: var(--small-border-radius);
  font-size: 1em;
  width: 80%;
}

input {
  background-color: transparent;
  border-radius: var(--small-border-radius);
  padding: var(--small-border-radius);
  font-size: 1em;
}

button {
  background-color: var(--input-color);
  border-radius: var(--small-border-radius);
  padding: var(--small-border-radius);
}

select {
  font-size: 1.0em;
  background-color: transparent;
  border-radius: var(--small-border-radius);
  border: none;
}

option {
  background-color: var(--bg-color);
}

.with-margins {
  margin: 20px;
}

#created-todos {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  gap: 12px;
  justify-content: space-evenly;
}
